.hide {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

/*General styles, background image and min-height to push footer down */ 
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(../images/space_background.png);
    color: #FFE81F;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}


/* Styling for header */ 
#header {
    font-family: 'Orbitron', sans-serif;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    text-align: center;
}

#header a {
    text-decoration: none;
    color: white;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFE81F;
    -webkit-text-fill-color: #000000;
}

/*Flex styling for main content */ 
.main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
} 

/* Styling for welcome text */ 
#welcome-text {
    text-align: center;
    margin: 10px auto;
    padding: 10px 0;
    max-width: 600px;
    background-color: #000000;
    border: 5px solid;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px;
}

#welcome-text h2 {
    font-weight: normal;
    padding-bottom: 20px;
}

/* Styling for the game area container */ 
#game-area {
    background-color: #000000;
    width: 600px;
    max-width: 90%;
    margin: 10px auto;
    border: 5px solid;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px;
}

/*Syling for question area */
#questions {
    padding-top: 10px;
    text-align: center;
}

#question-counter {
    padding-top: 10px;
}

/* Styling for the result area */
#result-area {
    background-color: #000000;
    width: 600px;
    max-width: 90%;
    margin: 10px auto;
    border: 5px solid;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px;
}

#result {
    padding-top: 10px;
    padding-bottom: 20px;
    gap: 15px;
    text-align: center;
}


/* Styling for the answer buttons - credit to "MDN Repeat" on how to use grid-template-columns*/
#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 10px 10px;
    padding: 5px;
}

.btn-answer {
    color: #1da9b9;
    background-color: #000000;
    border: 3px solid;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 12px;
}

.btn-answer:hover {
    border-color: #035c66;
}

.start-next-btn {
    color: #1da9b9;
    background-color: #000000;
    border: 5px solid;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
}

.start-next-btn:hover {
    border-color:#2BCBDE;
}

/* Styling for correct and incorrect answer */ 
.correct {
    background-color: #2FF924;
    color: #000000;
    border: 3px solid;
    border-color: #1da9b9;
}

.incorrect {
    background-color: #EB212E;
    color: #000000;
    border: 3px solid;
    border-color: #1da9b9;
}

/*Styling for the score counter area*/ 
#score-counter {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 10px;
    gap: 5px;
}

/* Footer styling - inspired by answer on Stackoverflow, link in credits*/
footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-right: 5px;
    gap: 5px;
}

.footer {
    color: #1da9b9;
    background-color: #000000;
}


/* Media query for tablets and larger */ 
@media screen and (min-width: 768px) {
    #header {
        font-size: 1.5rem;
    }
}


/* Media query for desktop */ 
@media screen and (min-width: 1200px) {
    #header {
        font-size: 2rem;
    }
    #welcome-text {
        max-width: 720px;
    }
    #game-area {
        width: 720px;
    }

}