.hide {
    display: none;
}

* {
    margin: 0;
    padding: 0;
}

/*General styles, background image and min-height to push footer down */ 
body {
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(../images/space_background.png);
    color: #FFE81F;
    display: flex;
    flex-direction: column;
    min-height: 97vh;
}


/* Styling for header */ 
#header {
    font-family: 'Orbitron', sans-serif;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 80px;
    text-align: center;
}

#header a {
    text-decoration: none;
    color: white;
	-webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #FFE81F;
    -webkit-text-fill-color: #000000;
}

/*Flex styling for general content container - to center the content */ 
.content-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0px 5px;
} 

/*Styling for main content area, for welcome text, game area and results */
.main-content-area {
    background-color: #000000;
    width: 600px;
    max-width: 90%;
    margin: 10px auto;
    border: 5px solid;
    border-radius: 5px;
    box-shadow: 0 0 5px 2px;
    padding: 10px 0;
    text-align: center;
}

/*Styling for the welcome text paragraphs and heading - to give more air between elements */
#welcome-text p {
    padding-top: 10px;
}

#welcome-text h2 {
    font-weight: normal;
    padding-bottom: 10px;
}

/*Styling for the questions - to give more air between elements and margin */
#question.content {
    padding-top: 10px;
    margin: 0 5px;
}

/*Styling for the result text - to give more air between elements paragraphs */
.result-content {
    padding: 10px 0; 
}


/* Styling for the answer buttons - credit to "MDN Repeat" on how to use grid-template-columns*/
#answer-buttons {
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin: 10px 10px;
    padding: 5px;
}

.btn-answer {
    color: #1da9b9;
    background-color: #000000;
    border: 3px solid;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 12px;
}

.btn-answer:hover {
    border-color: #035c66;
}


/*Styling for the start and next button */ 
.start-next-btn {
    color: #1da9b9;
    background-color: #000000;
    border: 5px solid;
    margin: 10px 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 1rem;
}

.start-next-btn:hover {
    border-color:#2BCBDE;
}

/* Styling for correct and incorrect answer */ 
.correct {
    background-color: #2FF924;
    color: #000000;
    border: 3px solid;
    border-color: #1da9b9;
}

.incorrect {
    background-color: #EB212E;
    color: #000000;
    border: 3px solid;
    border-color: #1da9b9;
}

/*Styling for the score counter */ 
#score-counter {
    margin: 10px;
}

/* Footer styling - inspired by answer on Stackoverflow */
footer {
    display: flex;
    justify-content: flex-end;
    margin-top: auto;
    margin-right: 5px;
    gap: 5px;
}

.footer-content {
    color: #1da9b9;
    background-color: #000000;
}

/* Media query for larger phones */ 
@media screen and (min-width: 400px) {
    #header {
        font-size: 1.25rem;
    }
}


/* Media query for tablets and larger */ 
@media screen and (min-width: 768px) {
    #header {
        font-size: 1.5rem;
    }

    .footer-content {
        font-size: 1.15rem;
    }
}


/* Media query for desktop */ 
@media screen and (min-width: 1200px) {
    #header {
        font-size: 2rem;
    }

    .main-content-area {
        width: 720px;
    }

    .content-container {
        font-size: 1.5rem;
    }

    .start-next-btn {
        font-size: 1.1rem;
    }

    .btn-answer {
        font-size: 1.1rem;
    }

    .footer-content {
        font-size: 1.25rem;
    }
}